.navbar {
    background-color: #141414;
    height: 70px;
    width: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    top: 0;
    z-index: 1;
}

.logo {
    height: 65%;
    padding-left: 3%;
    z-index: 1;
}

.navigate {
    padding-left: 1%;
}

.icons {
    position: absolute;
    color: white;
    right: 10%;
    z-index: 1;
}

.icons ul {
    list-style: none;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.icons li {
    font-size: large;
    padding: 5%;
}

.icons .avatar {
    height: 50px;
    width: 50px;
}

@media screen and (max-width: 400px) {
    .navbar {
        height: 40px;
    }
}